<div class="mt-4">
     <form method = "GET" action = "infor"> {{!-- thằng action này điều hướng form sẽ được gửi tới đâu --}}
        <div class="form-group">
            <label for="exampleInputEmail1">Search</label>
            <input type="text" name = "q" class="form-control" id="exampleInputEmail1" placeholder="Text something">
            <input type="text" name = "fullName" class="form-control" id="exampleInputEmail1" placeholder="Full name">
            <input type="text" name = "age" class="form-control" id="exampleInputEmail1" placeholder="Age">
        </div>

        <button type = "submit" class = "btn btn-primary">Search</button>
    </form>
</div>

